// Lobster

@font-face {
	font-family: 'Lobster';
	src: url('../fonts/Lobster/Lobster-Regular.ttf');
	src: local("Lobster-Regular"), local("Lobster-Regular"),
		url("../fonts/Lobster/Lobster-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}


// OpenSans
@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans/OpenSans-Regular.ttf');
	src: local('OpenSans-Regular'), local('OpenSans-Regular'),
		url('../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans/OpenSans-SemiBold.ttf');
	src: local('OpenSans-SemiBold'), local('OpenSans-SemiBold'),
		url('../fonts/OpenSans/OpenSans-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

// GalanoGrotesqueAlt-ExtraBold
@font-face {
	font-family: 'GalanoGrotesqueAlt';
	src: url('../fonts/GalanoGrotesqueAlt/GalanoGrotesqueAlt-ExtraBold.otf');
	src: local('GalanoGrotesqueAlt-ExtraBold'), local('GalanoGrotesqueAlt-ExtraBold'),
		url('../fonts/GalanoGrotesqueAlt/GalanoGrotesqueAlt-ExtraBold.otf') format('opentype');
	font-weight: 800;
	font-style: normal;
}
